<footer id="footer" class="footer">
  <div class="container">
    <div class="row gy-3">
      <div class="col-lg-3 col-md-6">
        <i class="bi bi-geo-alt icon"></i>
        <div>
          <h4>Address</h4>
          <p>
            1234 Baldurs Way <br>
            New York, NY 8675309 - US<br>
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <i class="bi bi-telephone icon"></i>
        <div>
          <h4>For large orders or future events, contact us in advance!</h4>
          <p>
            <strong>Phone:</strong> +1 5589 55488 55<br>
            <strong>Email:</strong> info@example.com<br>
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <i class="bi bi-clock icon"></i>
        <div>
          <h4>Opening Hours</h4>
          <p>
            <strong>Mon-Sat: 11AM - 7PM<br>
            Sunday: Closed</strong>
          </p>
        </div>
      </div>

    <div class="col-lg-3 col-md-6 footer-links">
      <h4>Follow Us</h4>
      <div class="social-links">
        <a href="#" class="social-link">
          <i class="bi bi-twitter"></i>
        </a>
        <a href="#" class="social-link">
          <i class="bi bi-facebook"></i>
        </a>
        <a href="#" class="social-link">
          <i class="bi bi-instagram"></i>
        </a>
        <a href="#" class="social-link">
          <i class="bi bi-linkedin"></i>
        </a>
      </div>
    </div>



    </div>
  </div>

  {{!-- <p class="text-center">&copy; Ann's Cookie Bar {{year}}</p> --}}
  <p>Copyright © 2023  Ann's Cookie Bar. All rights reserved.</p>
</footer>
