 <!-- Include the login page template here -->
<header id="header" class="container-fluid">
  <div class="d-flex">
  <h1 class="align-left">Ann's Cookie Bar<span></span></h1>
    <div class="container">
      <nav class="navbar">
        <ul>
        {{#if loggedIn}}
          <li><a href="/home">Home</a></li>
          <li><a href="/api/order">Order</a></li>
          <li><a href="/api/gallery">Gallery</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/api/contact">Contact</a></li>
          {{> nav}} <!-- Include the navigation partial here -->
        {{else}}
          <li><a href="/home">Home</a></li>
          <li><a href="/api/order">Order</a></li>
          <li><a href="/api/gallery">Gallery</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/api/contact">Contact</a></li>
          <li><a href="/login">Login</a></li>
        {{/if}}
        </ul>
      </nav>
    </div>
  </div>
</header>
