 <!-- Include the login page template here -->
      <header id="header" class="align-items-start">
    <div class="container align-items-center justify-content-between">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        {{!-- <img src="" alt=""> --}}
        <h1>Ann's Cookie Bar<span></span></h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          {{#if loggedIn}}
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/menu">Order</a></li>
            <li><a href="/contact">Contact</a></li>
            {{> nav}} <!-- Include the navigation partial here -->
          {{else}}
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/menu">Order</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/login">Login</a></li>
          {{/if}}
          
        </ul>
      </nav>

    </div>
  </header>
