<nav class="nav">
  {{#if loggedIn}}
  <a class="nav-item nav-link" href="/">HOME</a>
  <a class="nav-item nav-link" href="/menu">MENU</a>
  <a class="nav-item nav-link" href="/cart">CART</a>
  <a class="link" href="/" id="logout">Logout</a>
  {{/if}}
</nav>
