<nav class="nav">
  {{#if loggedIn}}
    <li><a class="nav-item nav-link" href="/cart">Cart</a></li>
    <li><a class="link" href="/" id="logout">Logout</a></li>
  {{else}}
    <li><a class="link" href="/login">Login</a></li>
  {{/if}}
</nav>
