
  <div class="container mt-5">
    <div class="card single-product">
      <div class="card-header">
        <h1>Welcome to Ann's Cookie Bar!</h1>
      </div>
    <div class="card-body">
        <p class="lead">We are dedicated to serving delicious and high-quality cookies to our valued customers. Our team of skilled bakers carefully prepare each cookie with fresh and locally sourced ingredients to ensure a memorable taste experience for you.</p>
      <p>Whether you're looking for classic chocolate chip, buttery peanut butter, delicate sugar cookies, or a rich red velvet delight, our menu offers a wide variety of options to suit every cookie lover's palate. From the first bite to the last crumb, we take pride in delivering exceptional flavors that will leave you craving for more.</p>
      <p>At our cookie sale store, we prioritize customer satisfaction, and our friendly staff is committed to providing you with top-notch service. We strive to create a warm and welcoming atmosphere where you can indulge in your favorite cookies in comfort.</p>
      <p>Thank you for choosing our cookie sale store. We look forward to serving you and making your cookie experience truly enjoyable.</p>
    </div>
  </div>
</div>


