<h1>Contact Us</h1>
    <div class="card contact-form">
  <h3 class="card-header">Contact Us</h3>
  <div class="card-body">
    <form id="contact-form" action="/contact" method="POST">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" id="name" name="name" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" id="email" name="email" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="message" class="form-label">Message</label>
        <textarea id="message" name="message" class="form-control" rows="6" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
    <p id="feedback-message" class="mt-3"></p> <!-- Add this element for displaying feedback message -->
  </div>
</div>
    <div id="map"></div>
    <script>
        function initMap() {
          var apiKey = '{{apiKey}}';
            var mapOptions = {
                center: { lat: 30.28619, lng: -97.74033 }, // Replace with your location's coordinates
                zoom: 15 // Adjust the zoom level as needed
            };
            var map = new google.maps.Map(document.getElementById('map'), mapOptions);
            var marker = new google.maps.Marker({
                position: { lat: 30.28619, lng: -97.74033 },
                map: map,
                title: 'Your Location'
            });
        }
    </script>
     <script src="https://maps.googleapis.com/maps/api/js?key={{apiKey}}&callback=initMap" async defer></script>
     <script src="/js/contact.js"></script>
