<div class="slideshow-container">
  {{#each images}}
    <div class="mySlides">
      <img src="/images/{{this}}" alt="Slideshow Image">
    </div>
  {{/each}}
</div>

<script src="/js/gallery.js"></script>
