<div class="slideshow-container p-5 bg-dark mb-5">
  {{#each images}}
    <div class="mySlides border">
      <img src="/images/{{this}}" alt="Slideshow Image" />
    </div>
  {{/each}}
</div>

<script src="/js/gallery.js"></script>