<main>
  <section class="main-page">
    <div class="container">
    </div>
  </section>
  <div class="container-xxl py-5 bg-dark mb-5">
    <div class="container my-5 py-5">
      <div class="row align-items-center g-5">
        <div class="col-lg-6 text-center text-lg-start">
          <h2 class="display-3 text-white animated slideInLeft">Enjoy Our<br
            />Delicious Cookies</h2>
          <p class="text-white animated slideInLeft mb-4 pb-2">
            Welcome to Anne's Cookie Bar were you can enjoy ordering freshly baked cookies to your hearts content.
            Offering cookies so tasty and sweet your grandmother is gonna be asking us for the recipe.
            We guarantee only the highest qualities of cookies this side of the hemisphere.
          </p>
          <a
            href="/api/order"
            class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft"
          >
            Take a look at our products
          </a>
        </div>
        <div class="col-lg-6 text-end text-lg-end">
          <img
            src="./images/chocolatechip.png"
            class="img-fluid image-reduced"
            alt="cookie homepage"
          />
        </div>
      </div>
    </div>

  </div>

</main>
