<div class="product-list">
  <h2>Menu</h2>
  <div class="row">
    {{#each products}}
      <div class="col-lg-2 col-md-3 col-sm-4 mb-4"> <!-- Adjust column classes -->
        <a href="/product/{{ id }}"> 
          {{> product-item}}
        </a>
      </div>
    {{/each}}
  </div>
</div>
<script src="/js/menu.js"></script>
