<div class="product-list">
  <div class="row">
    {{#each products}}
      <div class="col-lg-3 col-md-4 mb-4"> <!-- Adjust column classes -->
        <a href="/product/{{ id }}"> 
          {{> product-item}}
        </a>
      </div>
    {{/each}}
  </div>
</div>
<script src="/js/order.js"></script>
