.card {
    background-color: #3e6a6fa8;
    margin: 0 0 20px 0;
    /* border: 2px solid var(--dark); */
    border-radius: .4rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    /* padding: 10px;
    margin: 10px; */
    /* height: 200px; */
  }
  .card-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .card-header {
    color: var(--primary);
    background-color: var(--dark);
    padding: 1%;
  }
  
  .card-body {
    padding: 1%;
  }
  