header {
  padding-top: 90px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
  color: #ffffff;
  background:url('../images/bannerimage.jpeg');
    width:100%;
    min-height:189px;
    object-fit: fill;
    background-size:100%;
    
}

header h1 {
  display: inline-block;
  font-size: 48px;
  -webkit-text-stroke: 2px black;
}

header h1 .seo {
  color: #d9dcd6;
}
/* changing targetting for nav */
header nav {
  padding-top: 15px;
  padding-left: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  background-color: #864d03;
  border-radius: 30px;
  border: 3px solid black;
  
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
  padding: 2;
  
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.card {
    background-color: #3e6a6fa8;
    margin: 0 0 20px 0;
    /* border: 2px solid var(--dark); */
    border-radius: .4rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    /* padding: 10px;
    margin: 10px; */
    /* height: 200px; */
  }
  .card-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .card-header {
    color: var(--primary);
    background-color: var(--dark);
    padding: 1%;
  }
  
  .card-body {
    padding: 1%;
  }


  /*made hyperlinks not have the color blue*/
  a {
    color: inherit;/* uses color the sentence is already using*/
  }
  
  .image-reduced {
    width: 20vw; /* 20% of the viewport width */
    height: auto; /* Maintain aspect ratio */
}
/* outline text
.strokeme {
  color: white;
  background-color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}